
.ask{
    font-family: 'Spidey';
    color: yellow;
    text-shadow: 0px 0px 15px black;
    width:100%;
    text-align: center;
    height: 15%;

}
.ask h1{
    position: relative;
    top: 100%;
}


.cine {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 5%;
}
#spider_descendo{
    width: 18%;
    height: 45%;
    filter: drop-shadow(5px 0px 15px);
    position:absolute;
    top: -50%;
    right: 0;
    transition: 2s;
  
    
}

.coluna {
  width: 40%;
  height: 60%;
}
.linhas {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: end;

}

.quadro {
  width: 60%;
  height: 37%;
  border: 15px solid rgb(255, 255, 255);
}

.quadro#cena3 {
  width: 35%;
  height: 74%;

  box-shadow: 2px 8px 5px black;
}

.quadro#cena2 {
  background-image: url(./images/Ultimate-Spiderman-the-comic-that-connected-everything.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  box-shadow: 2px 8px 5px black;
  opacity: 0;
  transition: 5s;


}
.quadro#cena1 {
  background-image: url(./images/city.jpg);
  background-position: 0px -70px;
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: local;
  box-shadow: 2px 8px 5px black;
  opacity: 0;
  transition: 4s;
}

.quadro#cena3 {
  background-image: url(./images/peternight.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: local;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 5s;
}
footer {
  position: relative;
  top: -50%;

  width: 100%;
  height: 15%;
  

}
footer button.btn{
    position: relative;
    top: -60%;
    width: 20%;
    height: 30%;
}

#teia:hover{
    position: relative;
    top: -60%;
    width: 22%;
    height: 32%;

}
a{
    text-decoration: none;
    color: black;
   
  }